*{padding: 0;
    margin: 0;
    box-sizing: border-box;}
    .logo{width: 100%;}
    .fondo{background-color: black;
        background-image:linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(22,112,130,1) 100%) ;}
    .titulo{color: white; 
        text-align: center; 
        padding: 2rem;
        text-decoration: none;
    }
    
    .tituloInicio{padding: 2rem;
    width: 100%}
    
    .container{ color: white;
    gap:1rem;
    width: 300px;
    max-width: 100%;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row: 1fr 1fr 1fr 1fr ;
    grid-template-areas:
    "historia historia ImagenesHistoria"
    "ImagenesPrecios precios precios "
    "tipos tipos TiposImagenes"
    "ImagenesMarcas marcas marcas"
    

}
    
    .historia{grid-area: historia;
        transition: .5s;
    
    }
    .historia:hover{transform: rotate(360deg) scale(1.1);}
    
    .ImagenesHistoria{ grid-area:ImagenesHistoria;}
    
    .precios{grid-area: precios;
        transition: .5s;
    }
    .precios:hover{transform: rotate(360deg) scale(1.1);}
    
    .ImagenesPrecios{grid-area:ImagenesPrecios ;}
    .tipos{grid-area: tipos;
        transition: .5s;}
    .tipos:hover{transform: rotate(360deg) scale(1.1);}
    .TiposImagenes{grid-area: TiposImagenes;}
    .marcas{grid-area: marcas;
        transition: .5s;}
    .marcas:hover{transform: rotate(360deg) scale(1.1);}
    
    .ImagenesMarcas{grid-area:ImagenesMarcas;}
    
    .imagenes{width: 250px;
    height: 250px;
    }
    
    .definicion{color: white;
        gap:1rem;
        padding: 1rem;
        display: grid;
        grid-template-columns: 1fr 1fr ;
        grid-row: 1fr 1fr  ;
        grid-template-areas:
        "antiguedad torre"
        "bolsillo   cuarzo"
        }
    .antiguedad{grid-area: antiguedad;}
    .torre{grid-area: torre; }
    .debolsillo{ grid-area: bolsillo;}
    .cuarzo{grid-area: cuarzo; transform: translate(0px,40px );}
    
    
    .costosos{
        color: white;
        display: flex;
    
    }
    .ContenidoPrecios{color: white;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 1rem;}
 
    .precio5{grid-area: precio5;}
    .precio4{grid-area: precio4;}
    .precio3{grid-area: precio3;}
    .precio2{grid-area: precio2;}
    
    .ContenidoPrecios graff{display:flex;
    flex-direction: column;
    }
    .graf{grid-area: graf;}
    .VideoGraf{grid-area: video;}
    .Marcas{
        display: flex;
        padding: 2rem;
         justify-content: space-between;}
    
    .Marcas a{color: white; text-decoration: none; padding: 2rem;}
    .desarrollo{color: white;
        animation-name: movimiento;
        animation-duration: 10s;
        animation-timing-function: linear;
        padding: 2rem;
    }
    
    @keyframes movimiento {0%{width: 30%;
    }
    100%{width: 100%; background-color: #2b56be;}
    }
    .TituloTipos{
        color: white;text-align: center;
        text-decoration: none;
        
    }
    .Tipos{color: white; padding: 2rem;
    }
       
    
    
    .footer{background-color: rgb(22, 112, 130,1); color: white;
        display: flex;
        flex-direction:row;
        justify-content: space-between;
        }
    .footer li a{color: white; text-decoration: none;}
    .lista2 li a{color: white; text-decoration: none;}

    @media screen and (max-width:500px) {
        .definicion{
            text-align: center;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(4, 1fr);
            grid-template-areas: 
            "antiguedad"
            "torre"
            "bolsillo"
            "cuarzo";
        }
        
    }


    @media screen and (max-width:500px) {
        .ContenidoPrecios{
            flex-direction: column;
            text-align: center;
        }
        
    }


    @media screen and (max-width:500px) {
        .Marcas{
            flex-direction: column;
            text-align: center;
        }
        
    }
   
    @media screen and (max-width:500px) {
        .footer{
            flex-direction: column;
            text-align: center;
            text-decoration: none;
        }
        
    }
   
/*# sourceMappingURL=estilos.css.map */