.footer{background-color: $colorfooter; color: white;
    display: flex;
    flex-direction:row;
    padding: 2rem;
    justify-content: space-between;
    }
.footer li a{color: white; text-decoration: none;}
.lista2 li a{color: white; text-decoration: none;}